@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <button type="button" class="btn btn-default btn-success btn-block" id="generateBtn">生成公钥&私钥</button>
                </div>
                <div class="col-md-4 column">
                    <button type="button" class="btn btn-default btn-block btn-info" id="">加入加密队列</button>
                </div>
                <div class="col-md-4 column">
                    <button type="button" class="btn btn-default btn-primary btn-block">加入解密队列</button>
                </div>
            </div>
            <table id="userDataTable" class="table">
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>
    let rsaHost = 'http://localhost:5102';
    debugger
    $(function () {
        $("#userDataTable").bootstrapTable({
            url: rsaHost + "/api/user/userlist",
            method: "Get",
            columns: [{
                field: 'UserId',
                title: 'ID'
            }, {
                field: 'Index',
                title: '编号'
            }, {
                field: 'UserName',
                title: '名字'
            },
            {
                field: 'Pwd',
                title: '密码'
            },
            {
                field: 'EncryptedPwd',
                title: '密文'
            },
            {
                field: 'DecryptedPwd',
                title: '明文'
            }]
        })
    });

</script>
