@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>RSA Encryption Demo</h1>
<div class="row clearfix">
    <div class="col-md-12 column">
        <button type="button" class="btn btn-info btn-lg btn-block" onclick="generateKeyPair()">Generate</button>
        <blockquote>
            <p id="public-key">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p> <small>----public</small>
        </blockquote>
        <blockquote>
            <p id="private-key">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p> <small>----private</small>
        </blockquote>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h2>
                    Encrypt with Public Key
                </h2>
                <textarea id="data-to-encrypt" rows="4" cols="50" class="form-control"></textarea>
            </div>
            <div class="col-md-4 column">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Public Key
                        </h3>
                    </div>
                    <div class="panel-body">
                        <textarea rows="7" cols="50" id="public-key-1">
                            wait for generate
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Encrypted
                </h2>
                <textarea readonly rows="4" cols="50" id="encrypted-data">
                    wait for Encrypt
                </textarea>
                <button type="button" class="btn btn-default btn-info btn-block" onclick="encryptWithPublicKey()">Encrypt with Public Key</button>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 column">
                <h2>
                    Decrypt with Private Key
                </h2>
                <textarea id="data-to-decrypt" rows="4" cols="50" class="form-control"></textarea>
            </div>
            <div class="col-md-4 column">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Private Key
                        </h3>
                    </div>
                    <div class="panel-body">
                        <textarea readonly rows="27" cols="50" id="private-key-1">
                            wait for generate
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Decrypt
                </h2>
                <textarea readonly rows="4" cols="50" id="decrypted-data">
                    wait for Decrypt
                </textarea>
                <button type="button" class="btn btn-default btn-info btn-block" onclick="decryptWithPrivateKey()">Decrypt with Private Key</button>
            </div>
        </div>
    </div>
</div>

<script>
    let rsaHost = 'http://localhost:5102';
    // Function to generate key pair
    function generateKeyPair() {
        // Make an API call to generate key pair
        $.ajax({
            url: rsaHost + "/api/rsa/keypair",
            method: "POST",
            success: function (response) {
                // Display generated key pair
                $("#public-key").text(response.publicKey);
                $("#public-key-1").text(response.publicKey);
                $("#private-key").text(response.privateKey);
                $("#private-key-1").text(response.privateKey);
            },
            error: function () {
                alert("Error generating key pair");
            }
        });
    }

    // Function to encrypt data with public key
    function encryptWithPublicKey() {
        // Get data to encrypt
        var plaintext = $("#data-to-encrypt").val();
        var publicKey = $("#public-key-1").text();
        // Make an API call to encrypt with public key
        $.ajax({
            url: rsaHost + "/api/rsa/encrypt",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                plaintext: plaintext,
                PublicKey: publicKey
            }),
            success: function (response) {
                // Display encrypted data
                $("#encrypted-data").text(response.encryptedPwd);
                $("#data-to-decrypt").text(response.encryptedPwd);
            },
            error: function () {
                alert("Error encrypting data"); 
            }
        });
    }

    // Function to decrypt data with private key
    function decryptWithPrivateKey() {
        // Get encrypted data to decrypt
        var encryptedData = $("#data-to-decrypt").val();
        var privateKey = $("#private-key-1").text();
        debugger
        // Make an API call to decrypt with private key
        $.ajax({
            url: rsaHost + "/api/rsa/decrypt",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                EncryptedPwd: encryptedData,
                PrivateKey: privateKey
            }),
            success: function (response) {
                // Display decrypted data
                $("#decrypted-data").text(response.decryptedPwd);
            },
            error: function () {
                alert("Error decrypting data");
            }
        });
    }

    // Function to sign data with private key
    function signWithPrivateKey() {
        // Get data to sign
        var data = $("#data-to-sign").val();

        // Make an API call to sign with private key
        $.ajax({
            url: "/api/sign-with-private-key",
            method: 'application/json',
            data: JSON.stringify({ data: data }),
            success: function (response) {
                // Display signature
                $("#signature").text(response.signature);
            },
            error: function () {
                alert("Error signing data");
            }
        });
    }

    // Function to verify data with public key
    function verifyWithPublicKey() {
        // Get data to verify
        var data = $("#data-to-verify").val();
        // Get signature to verify
        var signature = $("#signature").text();

        // Make an API call to verify with public key
        $.ajax({
            url: "/api/verify-with-public-key",
            method: "POST",
            data: { data: data, signature: signature },
            success: function (response) {
                // Display verification result
                $("#verification-result").text(response.verificationResult);
            },
            error: function () {
                alert("Error verifying data");
            }
        });
    }
</script>
